{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
 <title>{% block title %} Base Html {% endblock%} </title> 
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link rel="icon" href="{% static 'image/YIIMG.png' %}" type="image/x-icon" />

  <!-- JS and Google Fonts -->
 
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Nunito|Poppins" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">

  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
 

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
    {% block link %}   default Link {% endblock link %}
</head>
<body>

   <!-- ======= Header ======= -->
   {% include 'Admin/components/header.html' %}
   <!-- ======= Sidebar ======= -->
   {% include 'Admin/components/side_navbar.html' %}
   <!-- End Sidebar-->
   {% block bodyblock %}

   This is Default

   {% endblock %} 

   

{% if messages %}
<script>
{% for message in messages %}
Swal.fire({
title: '{% if message.tags == 'success' %}Success! {% else %} Error! {% endif %} ',
text: "{{ message }}",
icon: "{% if message.tags == 'success' %}success{% else %}error{% endif %}",
showConfirmButton: false,
timer:1500,

});
{% endfor %}
</script>
{% endif %}
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<!-- Vendor JS Files -->
<script src="{% static 'assets/vendor/apexcharts/apexcharts.min.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
<script
  src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
  integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8="
  crossorigin="anonymous"></script>
<!-- Template Main JS File -->

{% block script %}

{% endblock script %}


</body>

</html>


