.tag-container {
    border: 1px solid #ccc;
    min-height: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    cursor: text;
    border-radius:7px;
  }
.tag {
    display: flex;
    align-items: center;
    background-color: #2993da;
    color: white;
    padding: 5px 10px;
    margin: 3px;
    border-radius: 7px;
    font-size: 14px;
  }
.tag .remove {
    cursor: pointer;
    margin-left: 8px;
    font-weight: bold;
  }
.tag-input 
  {
    border: none;
    outline: none;
    flex: 1;
    padding: 5px;
    font-size: 14px;
  }
