{% load static %}
<aside id="sidebar" class="sidebar">
    <!-- User Profile Section -->
    {% comment %} <div class="sidebar-header">
        <div class="user-profile">
            <!-- Round User Image -->
            <img src="{% static 'Image/YIIMG.png' %}" alt="User Image" class="rounded-circle" width="40" height="40">
            <span class="user-name">John Doe</span>
        </div>
    </div> {% endcomment %}

    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
        </li>

        <li class="nav-item">
            <a class="nav-link " href="{% url 'member-dashbaord' %}">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->

        {% comment %} <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'event-list' %}">
                <i class="bi bi-list-columns-reverse"></i>
                <span>Your Yi Events</span>
            </a>
        </li> {% endcomment %}

        <li class="nav-item">
            <a class="nav-link collapsed " href="{% url 'manager-dashboard' %}">
                <i class="bi bi-clipboard-data-fill"></i>
                <span>Add Yi Events</span>
            </a>
        </li>


        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'manager-logout' %}">
                <i class="bi bi-box-arrow-left"></i>
                <span>Logout</span>
            </a>
        </li><!-- End Login Page Nav -->

        
    </ul>
</aside>

<!-- Add CSS styles to make the image round -->
<style>
    .user-profile {
        display: flex;
        align-items: center;
        margin: 15px;
    }
    .user-profile img {
        border-radius: 50%; /* Make the image round */
    }
    .user-name {
        margin-left: 10px;
        font-weight: bold;
        font-size: 16px;
    }
</style>
