{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Dashboard</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <link rel="icon" href="{% static 'image/YIIMG.png' %}" type="image/x-icon" />

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Nunito|Poppins" rel="stylesheet">

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css'  %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'css/admin_signup.css' %}" rel="stylesheet">

  <!-- Custom Styling -->
  
</head>

<body>
  {% include 'Admin/components/header.html' %}
  {% include 'Admin/components/side_navbar.html' %}

  <main id="main" class="main">
    <div class="pagetitle">
      <h1>Register New EC Member</h1>
    </div>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'Admin_Dashboard' %}">Home</a></li>
          <li class="breadcrumb-item">Admin</li>
          <li class="breadcrumb-item active">Register In Yi</li>
        </ol>
      </nav>
    

    <div class="container mt-4">
      <div class="card custom-form">
        <div class="card-header">
          Register New Executive Council Member
        </div>
    
        <div class="card-body "> <br>
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="row"  >
              <div class="col-md-6" style="margin-top: 15px;">
                <div class="form-group">
                  <i class="bi bi-person-circle"></i> <label>Username</label>
                  <input type="text" class="form-control" name="add_username" placeholder="Enter Username" required>
                </div>
              </div>
              <div class="col-md-6"style="margin-top: 15px;" >
                <div class="form-group">
                  <label>First Name</label>
                  <input type="text" class="form-control" name="first_name" placeholder="First Name" required>
                </div>
              </div>
            </div>
            

            <div class="row mt-3">
              <div class="col-md-6"style="margin-top: 15px;" >
                <div class="form-group">
                  <label>Last Name</label>
                  <input type="text" class="form-control" name="last_name" placeholder="Last Name" required>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group" style="margin-top: 15px;">
                  <i class="bi bi-envelope"></i> <label>Email</label>
                  <input type="email" class="form-control" name="add_email" placeholder="Email Address" required>
                </div>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-md-6"style="margin-top: 15px;">
                <div class="form-group">
                <label>Phone</label>
                <div class="input-group">
                  <span class="input-group-text">+91</span>
                  <input type="tel" class="form-control" name="add_phone" minlength="10" maxlength="10" placeholder="Enter phone number" required>
                </div>
              </div>
            </div>
              <div class="col-md-6"style="margin-top: 15px;">
                <div class="form-group" >
                  <label>YI Role</label>
                  <select class="form-control" id="role_yi" name="role_yi" required aria-label="YI Role">
                    <option value="" disabled selected>Choose YI Role</option>
                    <option value="Vertical Chair">Vertical Chair</option>
                    <option value="Vertical Co-Chair">Vertical Co-Chair</option>
                    <option value="Team Member">Team Member</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row mt-3">
            <div class="form-group">
              <div class="col-md-12">
                <label>Executive Council Role</label>
                <div class="checkbox-container">
                  {% for i in role %}
                    <div class="form-check form-check-inline">
                      <input type="checkbox" class="form-check-input" name="login_role" value="{{ i.name }}">
                      <label class="form-check-label">{{ i.name }}</label>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>

            <div class="row mt-3">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Profile Image</label>
                  <input type="file" class="form-control" name="profile_img">
                  <small class="form-text">Accepted formats: .jpg, .jpeg, .png</small>
                </div>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-md-6"style="margin-top: 15px;">
                <div class="form-group">
                  <label>Password <i class="bi bi-lock"></i></label>
                  <input type="password" minlength="8" maxlength="12" class="form-control" name="password1" placeholder="Password" required>
                </div>
              </div>
              <div class="col-md-6"style="margin-top: 15px;">
                <div class="form-group">
                  <label>Confirm Password</label>
                  <input type="password" class="form-control" name="password2" minlength="8" maxlength="12"  placeholder="Confirm Password" required>
                </div>
              </div>
            </div>

            <button type="submit" class="btn btn-primary mt-4">Create Yi</button>
            <button type="reset" class="btn btn-secondary mt-4">Reset</button>
          </form>
        </div>
      </div>
    </div>
  </main>

  {% if messages %}
    <script>
      {% for message in messages %}
        Swal.fire({
          title: '{% if message.tags == 'success' %}Success! {% else %} Error! {% endif %}',
          text: "{{ message }}",
          icon: "{% if message.tags == 'success' %}success{% else %}error{% endif %}",
          confirmButtonText: 'OK'
        });
      {% endfor %}
    </script>
  {% endif %}

  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/js/main.js' %}"></script>
</body>

</html>
