{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Dashboard</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <link rel="icon" href="{% static 'image/YIIMG.png' %}" type="image/x-icon" />

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css'  %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/admin_signup.css' %}" rel="stylesheet">

  <!-- Custom CSS to improve form styling -->

</head>

<body>
  {% include 'Admin/components/header.html' %}
  {% include 'Admin/components/side_navbar.html' %}

  <main id="main" class="main">
    <div class="pagetitle">
      <h1>New Admin</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'Admin_Dashboard' %}">Home</a></li>
          <li class="breadcrumb-item">Admin</li>
          <li class="breadcrumb-item active">Add New Admin</li>
        </ol>
      </nav>
    </div>

    <div class="container mt-5">
      <!-- Signup Form -->
      <div class="card shadow-lg">
        <div class="card-header text-center">
          <strong>Add User</strong>
        </div>
        <div class="card-body">
          <form method="POST" enctype="multipart/form-data" onsubmit="return validateForm(event)">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="add_username">Username <i class="bi bi-person-circle"></i></label>
                  <input type="text" id="add_username" maxlength="15" class="form-control" name="add_username" placeholder="Add Username" required>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="first_name">First Name</label>
                  <input type="text" id="first_name" maxlength="20" class="form-control" name="first_name" placeholder="First Name" required>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="last_name">Last Name</label>
                  <input type="text" id="last_name" maxlength="20" class="form-control" name="last_name" placeholder="Last Name" required>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="add_email">Email <i class="bi bi-envelope"></i></label>
                  <input type="email" class="form-control" maxlength="50" id="add_email" name="add_email" placeholder="Add Email" required>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <label for="add_phone">Phone</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">+91</span>
                  </div>
                  <input type="tel" class="form-control" id="add_phone" name="add_phone" maxlength="10" minlength="10" pattern="\d{10}" title="Please enter exactly 10 digits" placeholder="Enter your phone number" required>
                </div>
              </div>

              <div class="col-md-6">
                <label for="login_role">Login Role</label>
                <div class="checkbox-container text-left">
                  {% for i in role %}
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" name="login_role" value="{{ i.name }}" id="">
                      <label class="form-check-label">{{ i.name }}</label>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="profile_img">Profile Image</label>
                  <input type="file" id="profile_img" class="form-control" name="profile_img" accept=".jpg, .jpeg, .png">
                  <small class="form-text text-muted">Accepted file types: .jpg, .jpeg, .png</small>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="password1">Password <i class="bi bi-lock"></i></label>
                  <input type="password" id="password1" minlength="8" maxlength="20" class="form-control" name="password1" placeholder="Password" required>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="password2">Confirm Password</label>
                  <input type="password" id="password2" minlength="8" maxlength="20" class="form-control" name="password2" placeholder="Confirm Password" required>
                </div>
              </div>
            </div>

            <button type="submit" class="btn btn-primary mt-3">Add Admin</button>
          </form>
        </div>
      </div>
    </div>

    <script src="{% static 'js/message.js' %}"></script>

  </main>

  {% if messages %}
  <script>
    {% for message in messages %}
      Swal.fire({
        title: '{% if message.tags == 'success' %}Success! {% else %} Error! {% endif %} ',
        text: "{{ message }}",
        icon: "{% if message.tags == 'success' %}success{% else %}error{% endif %}",
        confirmButtonText: 'OK'
      });
    {% endfor %}
  </script>
  {% endif %}

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>
