 /* Focus state for inputs */
.form-control:focus {
    border-color: #4e73df;
    box-shadow: 0 0 0 0.2rem rgba(78, 115, 223, 0.25);
    transition: all 0.3s ease;
  }

  /* Form Group Label Styling */
.form-group label {
    font-weight: bold; /* Light bold */
    color: #333;
    transition: all 0.3s ease;
    font-size: medium;
  }
.form-group label:hover {
    color: #4e73df; /* Color change on hover */
  }

  /* Header Styling */
.card-header {
    background-color: #1944c7;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
  }


.form-datas{
    font-family:sans-serif;
  }

  /* Button Styling */


  /* Form Control Styles */
.form-control {
    height: 3.5rem; /* Adjust input height for a cleaner look */
    font-size: 1.125rem; /* Slightly bigger font size for better readability */
    border-radius: 0.375rem;
    padding: 0.75rem 1.25rem; /* Increase padding for better space inside input */
    border: 1px solid #ddd; /* Lighter border */
    transition: all 0.3s ease;
  }

.form-control:focus {
    border-color: #4e73df;
  }
.form-control::placeholder {
    color: #6c757d;
  }

.form-group {
    margin-bottom: 1.5rem;
  }

#sig_div select {
    font-size: 1rem;
  }


@media (max-width: 767px) {
    .form-control {
      font-size: 1rem;
    }

    .btn-primary {
      font-size: 1rem;
      padding: 0.75rem 1.25rem; /* Adjust button padding for small screens */
    }
  }