{% extends "components/base.html" %}
{% load static %}
{% block title %}Add - Event - Data{% endblock title %}

{% block link %}
<link href="{% static 'css/eventdata.css' %}" rel="stylesheet">
<link href="{% static 'css/inputfiled.css' %}" rel="stylesheet">
{% endblock link %}

{% block bodyblock %}
<main id="main" class="main">
  <div class="pagetitle mt-3">
    <h1>Add Young India Event</h1>
  </div>
  
  <div class="container-fluid">
    <!-- Event Add Form -->
    <div class="card custom-form form-datas w-100 p-4 shadow rounded ">
      
      <div style="border-radius: 10px; background-color: skyblue;">

          <div style="height: 80px; display: flex; align-items: center; justify-content: center;">
            <img src="{{ request.session.image }}" style="max-width: 100%; max-height: 100%; object-fit: contain;" alt="Role Image">
          </div>
        
          <div style="height: 60px; display: flex; align-items: center; justify-content: center;">
              <h2 style="color:white; font-weight:blod">Add Young India Event</h2>
          </div>

        </div>
        
    
    <div class="card-body  pt-1">
        <form method="POST" id="myForm" action="{% url 'event_data' %}" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row g-3">
            <!-- Your Name -->
            <div class="col-md-6">
              <div class="form-group mb-3">
                <label for="your_name" class="form-label fw-bold fw-bold">Your Name<span class="text-danger"> *</span></label>
                <input type="text" id="your_name" class="form-control-lg rounded form-control" name="your_name" value="{{ user.first_name }} {{ user.last_name }}" required placeholder="Enter your full name" readonly style="background-color:rgb(235, 236, 247);">
                <div class="invalid-feedback" id="your_name_error">Please provide your name.</div>
              </div>
            </div>

            <!-- Event Date -->
            <div class="col-md-6">
              <div class="form-group mb-3">
                <label for="event_date" class="form-label fw-bold fw-bold">Event Date<span class="text-danger"> *</span></label>
                <input type="date" id="event_date" class="form-control date" name="event_date" >
                <div class="invalid-feedback" id="event_date_error">Please provide an event date.</div>
              </div>
            </div>

            <!-- Event Name -->
            <div class="col-md-6">
              <div class="form-group mb-3">
                <label for="event_name" class="form-label fw-bold fw-bold">Event Name<span class="text-danger"> *</span></label>
                <input type="text" id="event_name" class="form-control-lg rounded form-control" name="event_name" placeholder="Event Name" d>
                <div class="invalid-feedback" id="event_name_error">Please provide an event name.</div>
              </div>
            </div>


            

            <!-- Event Venue -->
            <div class="col-md-6">
              <div class="form-group mb-3">
                <label for="event_venue" class="form-label fw-bold fw-bold">Event Venue<span class="text-danger"> *</span></label>
                <input type="text" id="event_venue" class="form-control-lg rounded form-control" name="event_venue"  placeholder="Event Venue">
                <div class="invalid-feedback" id="event_venue_error">Please provide an event venue.</div>       
              </div>
            </div>

            <!-- YI Role -->
            <div class="col-md-6">
              <div class="form-group mb-3">
                <label for="role_yi" class="form-label fw-bold fw-bold">Designation<span class="text-danger"> *</span></label>
                <input class="form-control-lg rounded form-control" id="role_yi" name="role_yi" value="{{ user.yi_role }}" readonly style="background-color:rgb(235, 236, 247);">
                <div class="invalid-feedback" id="event_yi_role_error">Please provide an event name.</div>
              </div>
            </div>

            <!-- Members Name -->
            <div class="col-12 col-sm-6 col-md-6">
              <div class="form-group">
                <label for="select_member" class="form-label fw-bold fw-bold">Select EC Member</label>
                <div class="selectBox" onclick="toggleCheckboxes()">
                  <select class="form-select form-control-lg rounded form-control" id="select_member_display">
                    <option class = "form-control-lg rounded form-control">Select EC Member</option>
                  </select>
                  <div class="overSelect"></div>
                </div>
                <div id="checkBoxes">
                  {% for i in ec_member %}
                  <label>
                    <input type="checkbox" name="select_member[]" value="{{ i }}" /> {{ i }}
                  </label>
                  {% endfor %}
                </div>
                <input type="hidden" id="select_member_hidden" name="select_member" value="">

              </div>
            </div>
            
            <!-- Project Verticals -->
            <div class="col-md-6">
              <div class="form-group mb-3">
                <label for="project_verticals" class="form-label fw-bold fw-bold">Yi Verticals<span class="text-danger"> *</span></label>
                {% if role|length > 1 and 'Special Interest Group (S.I.G)' in role  %}
                  <select class="form-control-lg rounded form-control" id="project_verticals" name="project_verticals" required>
                    {% for i in role %}
                      <option class = "form-control-lg rounded form-control" value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                  </select>
                {% elif 'Special Interest Group (S.I.G)' in role %}
                  <select class="form-select form-control-lg rounded form-control" name="sig_">
                    <option class = "form-control-lg rounded form-control" value="" disabled selected>Select S.I.G</option>
                    <option class = "form-control-lg rounded form-control" value="Active Living">Active Living</option>
                    <option class = "form-control-lg rounded form-control" value="Photography">Photography</option>
                    <option  class = "form-control-lg rounded form-control"value="Trekking">Trekking</option>
                    <option class = "form-control-lg rounded form-control" value="Entrepreneurship">Entrepreneurship</option>
                    <option  class = "form-control-lg rounded form-control" value="Community">Community</option>
                    <option class = "form-control-lg rounded form-control" value="NA">None</option>
                  </select>
                  <select class="form-control-lg rounded form-control d-none" id="project_verticals" name="project_verticals" required>
                    <option value="Special Interest Group (S.I.G)">Special Interest Group (S.I.G)</option>
                  </select>
                {% else %}
                  <select class="form-control-lg rounded form-control" id="project_verticals" name="project_verticals" required>
                    {% for i in role %}
                      <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                  </select>


                  
                {% endif %}
                <div class="invalid-feedback" id="event_verticals_error">Please Provide Verticals.</div>
              </div>  
            </div>

            <!-- Project Stakeholder -->
                 <div class="col-md-6">
                    <div class="form-group mb-3">
                      <label for="project_stakeholder" class="form-label fw-bold fw-bold">Project Stakeholder<span class="text-danger"> *</span></label>
                      <select class="form-select form-control-lg rounded form-control" id="project_stakeholder" name="project_stakeholder" required>
                        <option class = "form-control-lg rounded form-control" value="" disabled selected>Choose Project Stakeholder</option>
                        <option class = "form-control-lg rounded form-control" value="Yuva">Yuva</option>
                        <option  class = "form-control-lg rounded form-control" value="Thalir">Thalir</option>
                        <option  class = "form-control-lg rounded form-control" value="Rural Initiatives">Rural Initiatives</option>
                        <option  class = "form-control-lg rounded form-control" value="General Public">General Public</option>
                        <option  class = "form-control-lg rounded form-control" value="Membership">Membership</option>
                        <option  class = "form-control-lg rounded form-control" value="NA">None</option>
                      </select>
                      <div id="project_stakeholder_error" class="invalid-feedback">This field is required.</div>
                    </div>
                  </div>

            <!-- YI Pillar Impact -->
            <div class="col-md-6">
              <div class="form-group mb-3">
                <label for="yi_pillar" class="form-label fw-bold fw-bold">Yi Pillar Impact<span class="text-danger"> *</span></label>
                <select class="form-control-lg rounded form-control form-select" id="yi_pillar" name="yi_pillar" required>
                  <option value="" disabled selected>Choose Yi Pillar Impact</option>
                  <option value="Youth Leader">Youth Leader</option>
                  <option value="Thought Leader">Thought Leader</option>
                  <option value="Nation Building">Nation Building</option>
                </select>
                <div id="project_yipillar_error" class="invalid-feedback">This field is required.</div>
              </div>
            </div>

            

            <!-- Member names -->
            <div class="col-md-6">
              <div class="form-group mb-3">
                <label for="tagInput" class="form-label fw-bold fw-bold">Member name</label>
                <div class="tag-container" id="tagContainer">
                  <input type="text" id="tagInput" class="form-control-lg rounded form-control" placeholder="Type members name">
                  <input type="hidden" id="hiddenInput" name="handel_by">
                </div>
              </div>
            </div>

            <!-- Social Link -->
            <div class="col-md-6">
              <div class="form-group mb-3">
                <label for="social_link" class="form-label fw-bold fw-bold">Social Link</label>
                <input type="url" id="social_link" class="form-control-lg rounded form-control" name="social_link" placeholder="Enter your social media link">
              </div>
            </div>

            <!-- Total Impact -->
            <div class="col-md-6">
              <div class="form-group mb-3">
                <label for="total_impact" class="form-label fw-bold fw-bold">Total Impact<span class="text-danger"> *</span></label>
                <input type="number" id="total_impact" class="form-control-lg rounded form-control" name="total_impact" required placeholder="Total impact">
                <div class="invalid-feedback" id="event_impact_error">Please provide an event imapct.</div>
              </div>
            </div>

            <!-- Event Expense -->
            <div class="col-md-6">
              <div class="form-group mb-3">
                <label for="event_expense" class="form-label fw-bold fw-bold">Event Expense</label>
                <input type="number" id="event_expense" class="form-control-lg rounded form-control" name="event_expense" placeholder="Event Expense">
              </div>
            </div>

            <!-- Event Image -->
            <div class="col-md-6">
              <div class="form-group mb-3">
                <label for="event_img" class="form-label fw-bold fw-bold">Event Image</label>
                <input type="file" id="event_img" class="form-control-lg rounded form-control" name="event_img" accept=".jpg, .jpeg, .png" multiple>
                <small class="form-text text-muted">Accepted formats: .jpg, .jpeg, .png</small>
              </div>
            </div>



            <div class="col-md-6">
              <div class="orm-group mb-3">
                <label for="event_description" class="form-label fw-bold fw-bold">Event Description</label>
                <textarea class="form-control" name="event_description" id="event_description" rows="3"></textarea>
              </div>
            </div>

            <!-- SIG Division (hidden by default) -->
            <div class="col-md-6 " id="sig_div" style="display: none;">
              <div class="form-group mb-3">
                <label for="sig_" class="form-label fw-bold fw-bold">Choose SIG</label>
                <select class="form-select" name="sig_">
                  <option value="" disabled selected>Choose Special Interest Group</option>
                  <option value="Active Living">Active Living</option>
                  <option value="Photography">Photography</option>
                  <option value="Trekking">Trekking</option>
                  <option value="Entrepreneurship">Entrepreneurship</option>
                  <option value="Community">Community</option>
                  <option value="">None</option>
                </select>
              </div>
            </div>

            <div class="col-md-6 " id="school_div" style="display: none;">
              <div class="form-group mb-3">
                <label for="school" class="form-label fw-bold fw-bold">School</label>
                <input type="text" id="school" class="form-control-lg rounded form-control" name="school" placeholder="School">
              </div>
            </div>

            <div class="col-md-6 " id="collage_div" style="display: none;">
              <div class="form-group mb-3">
                <label for="collage" class="form-label fw-bold fw-bold">College</label>
                <input type="text" id="collage" class="form-control-lg rounded form-control" name="collage" placeholder="College">
              </div>
            </div>

            <!-- Submit Buttons -->
            <div class="col-12">
              <div class="d-flex gap-2 mt-3">
                <button type="submit" class="btn btn-primary px-4">Submit</button>

                <button type="reset" class="btn btn-outline-secondary px-4">Reset</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>

{% block scripts %}
<script src="{% static 'js/event.js' %}"> </script>
<script src="{% static 'js/inputfiled.js' %}"></script>

<script>
  let expanded = false;

  function toggleCheckboxes() {
    let checkboxes = document.getElementById("checkBoxes");
    if (!expanded) {
      checkboxes.style.display = "block";
      expanded = true;
    } else {
      checkboxes.style.display = "none";
      expanded = false;
    }
  }

  document.addEventListener('click', function(event) {
    let selectBox = document.querySelector('.selectBox');
    let checkboxes = document.getElementById("checkBoxes");

    if (!selectBox.contains(event.target) && !checkboxes.contains(event.target)) {
      checkboxes.style.display = "none";
      expanded = false;
    }
  }, true);

  function updateSelectDisplay() {
    let checkboxes = document.querySelectorAll('input[name="select_member[]"]:checked');
    let selectDisplay = document.getElementById('select_member_display');

    if (checkboxes.length === 0) {
        selectDisplay.options[0].text = "Select options";
    } else if (checkboxes.length === 1) {
        selectDisplay.options[0].text = checkboxes[0].value;
    } else {
        selectDisplay.options[0].text = checkboxes.length + " Member Selected";
    }
  }

  document.querySelector('form').addEventListener('submit', function(event) {
    let checkboxes = document.querySelectorAll('input[name="select_member[]"]:checked');
    let values = [];
    checkboxes.forEach(function(checkbox) {
      values.push(checkbox.value);
    });
    document.getElementById('select_member_hidden').value = values.join(', ');
  });

  let checkboxes = document.querySelectorAll('input[name="select_member[]"]');
  checkboxes.forEach(function(checkbox) {
    checkbox.addEventListener('change', function() {
      updateSelectDisplay();
    });
  });
</script>

<script>
  // Event Date Validation
  var event_date = document.getElementById('event_date');
  var event_date_error = document.getElementById('event_date_error'); // changed variable name to avoid conflict

  function checkEventDate() {
    if (event_date.value.trim() === '') {
      event_date_error.style.display = "block";
      return false;
    } else {
      event_date_error.style.display = "none";
      return true;
    }
  }
  event_date.addEventListener('input', checkEventDate); // Add the event listener for event date
  checkEventDate(); // Initial check

  // Event Name Validation
 
  var event_name = document.getElementById('event_name');
  var event_name_error = document.getElementById('event_name_error'); // changed variable name to avoid conflict

  function checkEventName() {
    if (event_name.value.trim() === '') {
      event_name_error.style.display = "block";
      return false;
    } else {
      event_name_error.style.display = "none";
      return true;
    }
  }

  event_name.addEventListener('input', checkEventName); // Add the event listener for event name
  checkEventName();

  // Event Name Validation
  var event_impact = document.getElementById('total_impact');
  var event_impact_error = document.getElementById('event_impact_error'); // changed variable name to avoid conflict

  function checkEventImpact() {
    if (event_impact.value.trim() === '') {
      event_impact_error.style.display = "block";
      return false;
    } else {
      event_impact_error.style.display = "none";
      return true;
    }
  }
  event_impact.addEventListener('input', checkEventImpact); // Add the event listener for event name
  checkEventImpact();

  var event_venue = document.getElementById('event_venue');
  var event_venue_error = document.getElementById('event_venue_error'); // changed variable name to avoid conflict

  function checkEventVenue() {
    if (event_venue.value.trim() === '') {
      event_venue_error.style.display = "block";
      return false;
     
    } else {
      event_venue_error.style.display = "none";
      return true;
      
    }
  }
  event_venue.addEventListener('input', checkEventVenue); // Add the event listener for event name
  checkEventVenue();

  var project_stakeholder = document.getElementById('project_stakeholder');
  var project_stakeholder_error = document.getElementById('project_stakeholder_error');

  function checkProjectStakeholder() {
    if (project_stakeholder.value === '') {
      project_stakeholder_error.style.display = "block"; 
      return false;
    } else {
      project_stakeholder_error.style.display = "none"; 
      return true;
    }
  }
  project_stakeholder.addEventListener('input', checkProjectStakeholder);
  checkProjectStakeholder();

  var yi_pillar = document.getElementById('yi_pillar');
  var project_yipillar_errors = document.getElementById('project_yipillar_error');

  function checkProjectYipillar() {
    if (yi_pillar.value.trim() === '') {
      project_yipillar_errors.style.display = "block"; 
      return false;

    } else {
      project_yipillar_errors.style.display = "none"; 
      return true;
    }
  }
  yi_pillar.addEventListener('change', checkProjectYipillar);
  checkProjectYipillar();

  document.getElementById('myForm').addEventListener('submit', function(event) {
    var isEventNameValid = checkEventName(); // Check event name
    var isEventDateValid = checkEventDate();
    var isEventImpact = checkEventImpact();
    var isStakeholder =checkProjectStakeholder();
    var isYiPillar  = checkProjectYipillar();  

    var isVenue = checkEventVenue();

    if (!isEventNameValid || !isEventDateValid || !isEventImpact || !isStakeholder  || !isYiPillar  || !isVenue ) {
      event.preventDefault(); // Prevent form submission if either validation fails
    }
  });
</script>



{% endblock scripts %}
{% endblock %}
