{% extends "components/base.html" %}
{% load static %}
{% block title %} Member  Dashboard {% endblock title %}



{% block link %}

 <style>
.form-label
  {
    font-weight:bold;
  }

 </style>

{% endblock link %}

    
    
    
    
    
    
    
    
    
    
    
    

 





{% block bodyblock %}
    <main id="main" class="main">
      <br>
      <div class="pagetitle d-flex justify-content-between align-items-center">
        <h1>Dashboard {{user.designation}}</h1>
        
      </div>
{% comment %}        
         <nav>
           {% comment %} <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'member-dashbaord' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'member-dashbaord' %}" >Member</a></li>
             <li class="breadcrumb-item active">Main Dashboard </li>
           </ol> 
         </nav> {% endcomment %}
       </div><!-- End Page Title -->
        <section class="section dashboard">
<br>
          <div class='row'>
            {% comment %} <div class="col-xxl-4 col-md-6 col-sm-12 mb-4">
              <div class="card">
                <div class="container" style="height: 150px; overflow: hidden; position: relative;">
                  <img src="{{ request.session.image }}" class="card-img-top w-100 h-100" style="object-fit: contain;" alt="Profile Image">
                </div>
              </div>
            </div> {% endcomment %}

            <div class="col-xxl-3 col-md-6 col-sm-12 mb-4">
              <div style="border-radius: 8px; overflow: hidden;">
                <div style="height: 150px; display: flex; align-items: center; justify-content: center;">
                  <img src="{{ request.session.image }}" style="max-width: 100%; max-height: 100%; object-fit: contain;" alt="Profile Image">
                </div>
              </div>
            </div>
          
            <div class="col-xxl-3 col-md-6 col-sm-12 mb-4">
              <div class="card info-card sales-card">
                <div class="card-body">
              
                  <br>
                  <div class="d-flex flex-column">
                    <p class="mb-2" style="color:darkblue"><strong>Full Name : </strong>{{ user.full_name }}</p>
                    <p class="mb-2" style="color:darkblue"><strong>Yi Vertical  : </strong> {% for i in role %}
                      {{ i }}
                    {% endfor %}</p>
                    <p class="mb-2"style="color:darkblue"><strong>Designation: </strong>  {{ user.yi_role }}</p>
                    
                
                  </div>
                </div>
              </div>
            </div>
          
            <div class="col-xxl-3 col-md-6 col-sm-12 mb-4">
              <div class="card info-card sales-card">
                <div class="card-body">
                  <h5 class="card-title"><i class="bi bi-list-ol text-primary"></i>&nbsp; Total Events</h5>
                  <div class="d-flex align-items-center">
                    <div class="ps-3">
                      <h6>{{ total_event }}</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          
            <div class="col-xxl-3 col-md-6 col-sm-12 mb-4">
              <div class="card info-card sales-card">
                <div class="card-body">
                  <h5 class="card-title"><i class="bi bi-people text-success"></i>&nbsp;Total Impact</h5> 
                  <div class="d-flex align-items-center">
                    <div class="ps-3">
                      <h6>{{ total_impact}}</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


  
    </div>

    <div class="card shadow-sm border-0 mb-4" id="table">
      <div class="card-header bg-white d-flex justify-content-between align-items-center py-3">
        <div class="d-flex align-items-center">
          {% comment %} <div class="rounded-circle bg-primary p-2 me-3">
            <i class="bi bi-calendar-check text-white fs-5"></i>
          </div> {% endcomment %}
          <h1 style="color:darkblue">Event Summary </h1>
        </div>
        <div class="d-flex gap-2">

        </div>
      </div>

      <div class="card-body">
        <div class="table-responsive">
          <table class="table  table-hover align-middle" id="eventTable">
            <thead class="table-light" >
              <tr class="text-center text-nowrap">
                <th>Sr No</th>
                <th>Date</th>
                <th>Venue</th>
                {% comment %} <th>Member Name</th> {% endcomment %}
                <th>Event Name</th>
              
                <th>EC Members Name </th>
                <th> Members Name </th>
                <th>Stakeholder</th>
                
                {% comment %} <th>Expense</th> {% endcomment %}
                <th>Designation</th>
                <th> Yi Pillar   </th>
                <th>School</th>
                <th>College</th>
                {% for i in role %}
                      {% if i == 'Special Interest Group (S.I.G)' %}
                      <th>S.I.G</th>
                      {% endif %}

                    {% endfor %}
              
                 
                <th> Social Link </th>
                <th>Impact</th>
                <th >Event Description</th>
                <th>Image</th>
                
                <th>Actions</th>
              </tr>
            </thead>
            <tbody id="display" >
              {% if events %}
                {% for event in events %}
                  <tr class="text-center text-nowrap">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ event.date }}</td>
                    <td>{{ event.event_venue }}</td>
                    {% comment %} <td>{{ event.your_name }}</td> {% endcomment %}
                    <td>{{ event.event_name }}</td>
               
                    {% if event.select_ec_member == '' or event.select_ec_member == None   %}
                    <td> <span class="badge bg-light text-dark">No Members</span></td>
                     {% else %}
                     <td class="event-handle" justify>{{ event.select_ec_member }}</td>
                     {% endif %}
                     
                     {% if event.event_member == '' or event.event_member == None %}
                     <td> <span class="badge bg-light text-dark">No Members</span></td>
                     {% else %}
                     <td class="event-handle" justify>{{ event.event_member }}</td>
                     {% endif %}

                    <td>{{ event.project_stakeholder  }}</td>
        
                    {% comment %} <td>₹ {{ event.event_expense|floatformat:"2" }}</td> {% endcomment %}
                    <td>{{ event.role_yi }}</td>
                    <td>{{ event.yi_pillar }}</td>
                    <td> {{ event.school  }}  </td>
                    <td>{{event.collage}}</td>
                           {% for i in role %}
                      {% if i == 'Special Interest Group (S.I.G)' %}
                      
                     
                        <td>{{event.which_SIG}}</td>
                   

                        {% endif %}
                    {% endfor %}
                    <td>
                      {% if event.social_link == ''  %}
                      <span class="badge bg-light text-dark">No Link</span>
                      {% else %}
                      <a href="{{event.social_link}}"> <i class="bi bi-link"></i> </a>  </td>
                      {% endif %}
                
                    {% comment %} <td>{{event.associate_partner}} {% endcomment %}
                    <td>{{ event.total_impact|floatformat:"g" }}</td>
                    {% if event.event_description == '' or event.event_description == None  %}
                    <td> <span class="badge bg-light text-dark">No Description</span> </td>

                    {% else %}
                    <td class="ellipsis"><span data-bs-toggle="modal" data-bs-target="#staticBackdrop{{event.id}}" title="{{event.event_description}}">{{ event.event_description }}</td>
                                        
<!-- Modal -->
                                    
                          <div class="modal fade" id="staticBackdrop{{event.id}}" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h1 class="modal-title fs-5" id="staticBackdropLabel">Event Description</h1>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body text-break">
                                  {{event.event_description}}
                                </div>
                              </div>
                            </div>
                          </div>

                    {% endif %}
                    <td>
                      {% if event.event_photo.all %}
                        {% with first_image=event.event_photo.first %}
                          <img src="{{ first_image.event_photo.url }}" alt="Event Image" class="rounded" height="40" width="60" 
                               data-bs-toggle="modal" data-bs-target="#imageModal{{ event.id }}"
                               data-image-url="{{ first_image.event_photo.url }}" style="cursor: pointer;">
                        {% endwith %}
                      {% else %}
                        <span class="badge bg-light text-dark">No image</span>
                      {% endif %}
                    </td>
                    <td>
                      <div class="btn-group" role="group">
                        <button type="button" class="btn btn-sm btn-outline-warning" data-bs-toggle="modal" data-bs-target="#editEventModal{{ event.id }}">
                          <i class="bi bi-pencil-square"></i>
                        </button>
                        <form method="post" action="{% url 'delete_event_data' events_id=event.id %}" class="d-inline">
                          {% csrf_token %}
                          <button class="btn btn-sm btn-outline-danger ms-1" >
                            <i class="bi bi-trash"></i>
                          </button>
                        </form>
                        {% comment %} <button type="button" class="btn btn-sm btn-outline-info ms-1" data-bs-toggle="collapse" data-bs-target="#details{{ event.id }}">
                          <i class="bi bi-info-circle"></i>
                        </button> {% endcomment %}
                      </div>
                    </td>
                  </tr>
  
               <!-- Image Modal -->
<div class="modal fade" id="imageModal{{ event.id }}" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Event Images</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-0">
        <div id="imageGallery{{ event.id }}"  class="carousel slide carousel-fade" data-bs-ride="carousel">
          <div class="carousel-inner">
            {% for image in event.event_photo.all %}
              <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <img src="{{ image.event_photo.url }}" class="d-block w-100" style="height: 500px; display: flex; object-fit: contain;" alt="Event Image">
                {% comment %} <div class="text-center mt-3">
                  <form method="POST" action="{% url 'delete_event_image' image_id=image.id %}" class="d-inline" enctype="multipart/form-data">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete Image</button>
                  </form>
                </div> {% endcomment %}
              </div>
            {% endfor %}
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#imageGallery{{ event.id }}" data-bs-slide="prev">
                                                <span class="carousel-control-prev-icon visually-hidden  rounded p-2" aria-hidden="true"></span>
                                                <span class="visually-hidden">Previous</span>
                                              </button>
                                              <button class="carousel-control-next" type="button" data-bs-target="#imageGallery{{ event.id }}" data-bs-slide="next">
                                                <span class="carousel-control-next-icon bg-dark visually-hidden rounded p-2" aria-hidden="false"></span>
                                                <span class="visually-hidden">Next</span>
                                              </button>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div> 
                  <!-- Edit Event Modal -->
                  <div class="modal fade"  id="editEventModal{{ event.id }}" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-lg form-datas">
                      <div class="modal-content ">
                        <div class="modal-header bg-light">
                          <h5 class="modal-title">Edit Event</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body form-datas">
                          <form method="post" action="{% url 'update-event-data' update_id=event.id %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row g-3">
                              <div class="col-md-6">
                                <label for="event_date" class="form-label">Event Date</label>
                                <input type="date" class="form-control" id="event_date" name="event_date" value="{{ event.date }}">
                              </div>
                              <div class="col-md-6">
                                <label for="event_name" class="form-label">Event Name</label>
                                <input type="text" class="form-control" id="event_name" name="event_name" value="{{ event.event_name }}">
                              </div>
                              {% comment %} <div class="col-md-6">
                                <label for="event_handle" class="form-label">Members Name</label>
                                <input type="text" class="form-control" id="event_handle" name="event_handle" value="{{ event.event_handle }}">
                              </div> {% endcomment %}
                              <div class="col-md-6">
                                <label for="role_yi" class="form-label">Designation</label>
                                {% comment %} <select class="form-select" id="role_yi" name="role_yi" readonly> {% endcomment %}
                                  <input class="form-control"  value="{{ event.role_yi }}" id="role_yi" name="role_yi" readonly style="background-color:rgb(235, 236, 247);"> 
                                
                                </select>
                              </div>
                              <div class="col-md-6">
                                <label for="project_verticals" class="form-label">Yi Verticals</label>
                                {% comment %} <select class="form-select" id="project_verticals" name="project_verticals"> {% endcomment %}
                                  <input class="form-control"  name="project_verticals" value="{{ event.project_vertical }}" readonly style="background-color:rgb(235, 236, 247);">
                        
                                </select>
                              </div>
                              <div class="col-md-6">
                                <label for="project_stakeholder" class="form-label">Stakeholder</label>
                                <select class="form-select" id="project_stakeholder" name="project_stakeholder">
                                  <option value="{{ event.project_stakeholder }}">{{ event.project_stakeholder }}</option>
                                  <option value="Yuva">Yuva</option>
                                  <option value="Thalir">Thalir</option>
                                  <option value="Rural Initiatives">Rural Initiatives</option>
                                  <option value="General Public">General Public</option>
                                  <option value="Member">Member</option>
                                   <option value="">None</option>
                                  <!-- Add all stakeholder options -->
                                </select>
                              </div>
                              
                                    <div class="col-md-6">
                                        <label for="yi_pillar" class="form-label">Yi Pillar</label>
                                        <select class="form-select" id="yi_pillar" name="yi_pillar">
                                            <option value="{{ event.yi_pillar }}">{{ event.yi_pillar }}</option>
                                            <option value="Youth Leader">Youth Leader</option>
                                            <option value="Thought Leader">Thought Leader</option>
                                            <option value="Nation Building">Nation Building</option>
                                            <!-- Add all pillar options -->
                                        </select>
                                    </div>

                                    <div class="col-md-6">
                                      <label for="select_ec_member" class="form-label">Select EC members</label>
                                      <input type="text" class="form-control" id="select_ec_member" name="select_ec_member" value="{{ event.select_ec_member }}">
                                  </div>

                                  <div class="col-md-6">
                                    <label for="social_link" class="form-label">Members</label>
                                    <input type="text" class="form-control" id="event_member" name="event_member" value="{{ event.event_member }}">
                                </div>

                                    <div class="col-md-6">
                                      <label for="social_link" class="form-label">Social Link</label>
                                      <input type="url" class="form-control" id="social_link" name="social_link" value="{{ event.social_link }}">
                                  </div>
                                  
                                    <div class="col-md-6">
                                        <label for="total_impact" class="form-label">Impact</label>
                                        <input type="text" class="form-control" id="total_impact" name="total_impact" value="{{ event.total_impact }}">
                                    </div>

                                    {% for i in role %}
                                        {% if i == 'Special Interest Group (S.I.G)' %}
                                              <div class="col-md-6" id="sig_div">
                                                  <label for="sig_" class="form-label">Choose SIG</label>
                                                  <select class="form-select" id="sig_" name="sig_">
                                                    {% if event.which_SIG  == None %} <option value="Choose SIG">Choose SIG</option>{% else %}

                                                      <option value="{{ event.which_SIG }}">{{ event.which_SIG }}</option>
                                                      <option value="Active Living">Active Living</option>
                                                      <option value="Photography">Photography</option>
                                                      <option value="Trekking">Trekking</option>
                                                      <option value="Entrepreneurship">Entrepreneurship</option>
                                                      <option value="Community">Community</option>
                                                      <option value="">None</option>{% endif %}
                                                      <!-- Add SIG options -->
                                                  </select>
                                              </div>
                                        {% endif %}
                                    {% endfor %}
                                        

                                    <div class="col-md-6" id="school_div">
                                        <label class="form-label" for="school">School</label>
                                        <input type="text" id="school" class="form-control" name="school" placeholder="School" value="{{ event.school }}">
                                    </div>

                                    <div class="col-md-6" id="collage_div">
                                        <label class="form-label" for="collage">College</label>
                                        <input type="text" id="collage" class="form-control" name="collage" placeholder="College" value="{{ event.collage }}">
                                    </div>
                                    

                                    <div class="col-md-6" id="collage_div">
                                      <label class="form-label" for="event_image">Event Image</label>
                                      <input type="file" id="event_image" class="form-control" name="event_image" multiple accept=".jpg,.png,.jpeg">
                                  </div>

                                  
                                  <div class="col-md-6" id="collage_div">
                                    <label for="event_description" class="form-label">Event Description</label>
                                    <textarea class="form-control" name="event_description" id="event_description" rows="3">{{event.event_description}}</textarea>

                                </div>
                                    
                                    <div class="modal-footer">
                               
                                        <button type="submit" class="btn btn-primary sm-2">Save changes</button>
                                        <button type="button" class="btn btn-secondary " data-bs-dismiss="modal">Close</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% else %}
            <tr>
              <td colspan="17" class="text-center"> No Event available </td>
            </tr>
            {% endif %}
        </tbody>
    </table>

                
            </div>
            <nav aria-label="Event table navigation">
              <ul class="pagination justify-content-center flex-wrap">
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="#">1</a>
                </li>
              
                <li class="page-item">
                  <a class="page-link" href="#">Next</a>
                </li>
              </ul>
            </nav>
        </div>
      </div>
    </div>
        </section>


  </main><!-- End #main -->


 
{% endblock %}
{% block script %}


<script src="{% static 'js/tabel.js' %}"> </script>







<script>
  document.addEventListener('DOMContentLoaded', function () {
    // Get all the event-handle elements in the table
    const eventHandles = document.querySelectorAll('.event-handle');
    
    // Loop through each event-handle element
    eventHandles.forEach(function (eventHandleElement) {
        // Get the event_handle content
        const eventHandle = eventHandleElement.innerText;
        
        // Split the data by commas
        const names = eventHandle.split(',');
        
        // Create a select element
        const select = document.createElement('select');
        select.className = 'event-handle form-select fomr-control border'; // Add a class for styling if needed
        
        // Create a default option
        const defaultOption = document.createElement('link');
        defaultOption.text = 'See Member';
        defaultOption.value = '';
        select.appendChild(defaultOption);
        
        // Loop through each name and create an option for it
        names.forEach(function (name) {
            // Trim any extra spaces from the name
            const trimmedName = name.trim();
            
            // Create the option element
            const option = document.createElement('option');
            option.value = trimmedName;
            option.text = trimmedName;
            
            // Append the option to the select
            select.appendChild(option);
        });
        
        // Clear the original content in the <td>
        eventHandleElement.innerHTML = '';
        
        // Append the new formatted select menu
        eventHandleElement.appendChild(select);
    });
});
</script>


<script>
  let expanded = false;

  function toggleCheckboxes() {
    let checkboxes = document.getElementById("checkBoxes");
    if (!expanded) {
      checkboxes.style.display = "block";
      expanded = true;
    } else {
      checkboxes.style.display = "none";
      expanded = false;
    }
  }

  document.addEventListener('click', function(event) {
    let selectBox = document.querySelector('.selectBox');
    let checkboxes = document.getElementById("checkBoxes");

    if (!selectBox.contains(event.target) && !checkboxes.contains(event.target)) {
      checkboxes.style.display = "none";
      expanded = false;
    }
  }, true);

  function updateSelectDisplay() {
    let checkboxes = document.querySelectorAll('input[name="select_member[]"]:checked');
    let selectDisplay = document.getElementById('select_member_display');

    if (checkboxes.length === 0) {
        selectDisplay.options[0].text = "Select options";
    } else if (checkboxes.length === 1) {
        selectDisplay.options[0].text = checkboxes[0].value;
    } else {
        selectDisplay.options[0].text = checkboxes.length + " Member Selected";
    }
  }

  document.querySelector('form').addEventListener('submit', function(event) {
    let checkboxes = document.querySelectorAll('input[name="select_member[]"]:checked');
    let values = [];
    checkboxes.forEach(function(checkbox) {
      values.push(checkbox.value);
    });
    document.getElementById('select_member_hidden').value = values.join(', ');
  });

  let checkboxes = document.querySelectorAll('input[name="select_member[]"]');
  checkboxes.forEach(function(checkbox) {
    checkbox.addEventListener('change', function() {
      updateSelectDisplay();
    });
  });
</script>

{% endblock script %}





