{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
   <div id="container" class="container">
		<!-- FORM SECTION -->
		<div class="row">
			<!-- SIGN UP (Admin Login) -->
			<div class="col align-items-center flex-col sign-up">
				
			</div>

			<!-- SIGN IN (Manager Login) -->
			<div class="col align-items-center flex-col sign-in">
				<div class="form-wrapper align-items-center" align="center">
					<div class="form sign-in">
                            <form method="POST" action="{% url 'index' %}">
                            {% csrf_token %}
						<div class="input-group">
							<input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
						</div>
						<div class="input-group">
							<input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
						</div>

						<div class="input-group">
							<label for="login_role">Select Your Role</label>
							<select class="form-control" id="login_roles" name="login_roles" required>
								<option value="Select Your Role">Your Role</option>
								{% for role in roles %}
								<option value="{{ role.name }}">{{ role.name }}</option>
								{% endfor %}
							</select>
						</div>
						
						<button type="submit">Login Now</button>

                        </form>
						  <a href="{% url 'password_reset' %}"><p>Forgot Password</p></a>
					</div>
				</div>
			</div>
		</div>
		<!-- END FORM SECTION -->


		<!-- CONTENT SECTION -->
		<div class="row content-row">
			<!-- SIGN IN CONTENT -->
			<div class="col align-items-center flex-col">
				<div class="text sign-in">
					<h2>Welcome</h2>
				</div>
				<div class="img sign-in"></div>
			</div>
			<!-- END SIGN IN CONTENT -->
		</div>
		<!-- END CONTENT SECTION -->
	</div>

{% if messages %}
    <script>
        {% for message in messages %}
            Swal.fire({
                title: '{% if message.tags == 'success' %}Success! {% else %} Error! {% endif %} ',
                text: "{{ message }}",
                icon: "{% if message.tags == 'success' %}success{% else %}error{% endif %}",
                confirmButtonText: 'OK'
            });
        {% endfor %}
    </script>
{% endif %}

    <!-- Bootstrap JS -->
  <script src="{% static 'js/index.js' %}"></script>

</body>
</html>
