{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{% static 'css/error.css' %}" rel="stylesheet" >

    <title>Error - Page Not Found</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">

</head>

<body>

    <div class="error-container">
        <h1>404</h1>
        <h2>Oops! Error </h2>
         {% for message in messages %}
            <p class="message">{{ message }}</p>
        {% endfor %}
        <a href="/">Go Back to Home</a>
    </div>

</body>
</html>
