{% load static %}

<header id="header" class="header fixed-top d-flex align-items-center">

  <div class="d-flex align-items-center">
 

    <button id="sidebarToggle" class="btn border-0 p-2 bg-transparent">
      <i id="sidebarIcon" class="bi bi-list fs-4 text-primary"></i> <!-- Keep original colors -->
    </button>
    {% if user.yi_role  == 'Branding' %}
    <a href="{% url 'branding_dashboard' %}" class="logo d-flex align-items-center ms-2">
      <img src="{% static 'Image/YIIMG.png' %}" alt="Logo"  height="60" width="60">
      <span class=" "></span> <!-- Keep spacing -->
    </a>
 {% else %}
 <a href="{% url 'Admin_Dashboard' %}" class="logo d-flex align-items-center ms-2">
  <img src="{% static 'Image/YIIMG.png' %}" alt="Logo"  height="60" width="60">
  <span class=" "></span> <!-- Keep spacing -->
</a>

    
    
    {% endif %}
     </div><!-- End Logo -->
    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <!-- End Search Icon-->
{% if user.yi_role == "Branding" %}

{% else %}
<li class="nav-item dropdown">
  <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
    <i class="bi bi-app-indicator"></i>
    <span class="badge bg-primary badge-number"> {{ count }} </span>
  </a><!-- End Notification Icon -->

  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
    <span class="badge rounded-pill bg-primary p-2 ms-2">Active User Name </span></a>
    {% for i in name %}
      <li class="notification-item">
        <i class="bi bi-activity"></i>
        <div>
          <h4>{{ i }} </h4>
    
        </div>
      </li>
    {% endfor %}

    <li>
      <hr class="dropdown-divider">
    </li>


  </ul><!-- End Notification Dropdown Items -->

</li><!-- End Notification Nav -->

{% endif %}
        

{% if user.yi_role == 'Branding' %}
<li class="nav-item dropdown pe-3">

  <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
    <img src="{% if user.photo %}{{ user.photo.url }}{% else %}{% static 'Image/img.png' %}{% endif %}" alt="Profile" class="rounded-circle"  height="45px" width="45px">
    <span class="d-none d-md-block ps-2">{{ user.username }}</span>

    
  </a>

{% else %}

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="{% if user.photo %}{{ user.photo.url }}{% else %}{% static 'Image/img.png' %}{% endif %}" alt="Profile" class="rounded-circle"  height="45px" width="45px">
            <span class="d-none d-md-block dropdown-toggle ps-2">{{ user.username }}</span>
       
            
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{user.first_name}} {{ user.last_name }}</h6>
           
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>


            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'Admin_Profile' %}">
                <i class="bi bi-person"></i>
                <span>Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

             

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'Admin_Logout' %}">
                <i class="bi bi-box-arrow-left"></i>
                <span>Logout</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->
        
        {% endif %}
      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  