<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item">
          <a class="nav-link" {% if user.yi_role == 'Branding' %} href="{% url 'branding_dashboard' %}" {% else %} href="{% url 'Admin_Dashboard' %}" {% endif %} >
              <i class="bi bi-grid"></i>
              <span>Dashboard</span>
          </a>
      </li>

    {% if user.yi_role == 'Branding' %}
    <li class="nav-item">
        <a class="nav-link collapsed " href="{% url 'Admin_Logout' %}">
            <i class="bi bi-box-arrow-left"></i>
            <span>Logout</span>
        </a>
    </li>

    {% else %}
   <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'View-manager' %}">
            <i class="bi bi-people-fill"></i>
            <span>Executive Council Members</span>
        </a>
    </li> 
  
    {% comment %} <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="{% url 'View-manager' %}">
            <i class="bi bi-people-fill"></i><span>EC Members</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'View-manager' %}">
              <i class="bi bi-circle"></i><span>Manage EC Members</span>
            </a>
          </li>
    
    
          <li>
            <a href="{% url 'Admin_Signup' %}">
              <i class="bi bi-circle"></i><span>Add EC Member</span>
            </a>
          </li>
    
        </ul>
      </li> {% endcomment %}
    <li class="nav-item">
        <a class="nav-link collapsed " href="{% url 'admin_event_data' %}">
            <i class="bi bi-calendar2-plus"></i>
            <span>Add Yi Event</span>
        </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed " href="{% url 'member-diary' %}">
          <i class="bi bi-journal-text"></i>
          <span>Members Diary</span>
      </a>
  </li>
  <li class="nav-item">
    <a class="nav-link collapsed " href="{% url 'Admin_Logout' %}">
        <i class="bi bi-box-arrow-left"></i>
        <span>Logout</span>
    </a>
</li>





    
    {% endif %}
    
</ul>
</aside>

