{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Main Dashboard</title>

  <!-- Favicons -->
  <link rel="icon" href="{% static 'image/YIIMG.png' %}" type="image/x-icon" />

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Nunito|Poppins" rel="stylesheet">
  <script> src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'css/eventdata.css' %}" rel="stylesheet">
  <link href="{% static 'css/inputfiled.css' %}" rel="stylesheet">
 


</head>


<body>

    {% include 'components/header.html' %}
    <!-- ======= Sidebar ======= -->
    {% include 'components/side_navbar.html' %}

    <main id="main" class="main">
      <br>

        <div class="pagetitle">
         <h1> Welcome, {{user.first_name}} {{user.last_name}} </h1>
        </div>
        
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="">Home</a></li>
              <li class="breadcrumb-item">Member</li>
              <li class="breadcrumb-item active">Main Dashboard </li>
            </ol>
          </nav>
        </div><!-- End Page Title -->

        <section class="section dashboard">

    <div class='row'>

          <div class="col-xxl-6 col-md-6 col-sm-12 mb-4">
            <div class="card info-card sales-card">
              <div class="card-body">
                <h5 class="card-title">Total Event
                  <span>Number of Event You Complete</span></h5>
                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-list-ol"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{ total_event|floatformat:"0" }}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="col-xxl-6 col-md-6 col-sm-12 mb-4">
            <div class="card info-card sales-card">
              <div class="card-body">
                <h5 class="card-title">Total Impact
                <span>Number of people you impact</span></h5>
                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-people-fill"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{ total_impact|floatformat:"g" }}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>

            <div class="row">



  <div class="col-xxl-12 col-md-12 col-sm-12 mb-4" >
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Event wise Impact</h5>
          <div >
            {% comment %} <canvas id="myChart" role="img" ></canvas> {% endcomment %}
          </div>
      </div>
    </div>
  </div>
</div>



        </section>
  </main><!-- End #main -->

  <!-- Vendor JS Files -->

<script>
    const ctx = document.getElementById('myChart');


    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [{% for item in event_name %}"{{ item }}",{% endfor %}],
            datasets: [{
                label: 'Name wise Impact',
                data: [{% for i in impact %}{{ i }},{% endfor %}],
   backgroundColor: [
      'rgba(54, 162, 235, 0.2)',
      'rgba(255, 159, 64, 0.2)',
      'rgba(255, 205, 86, 0.2)',
      'rgba(75, 192, 192, 0.2)',
      'rgba(54, 162, 235, 0.2)',
      'rgba(153, 102, 255, 0.2)',
      'rgba(201, 203, 207, 0.2)'
    ],

                 borderColor: [
      'rgb(54, 162, 235)',
      'rgb(255, 159, 64)',
      'rgb(255, 205, 86)',
      'rgb(75, 192, 192)',
      'rgb(54, 162, 235)',
      'rgb(153, 102, 255)',
      'rgb(201, 203, 207)'
    ],
                borderWidth: 1


            }]
        },
        options: {
            scales: {

                y: {
                    beginAtZero: true

                }
            }
        }
    });
</script>



  <script src="{% static 'assets/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>
</html>
